@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
    background: #232323 !important;
}

// for spinner
.spinner-white {
    width:20px;
    height:20px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#ffffff);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}